  .map { 
  	height: 580px;
  }

.tt-table th, .tt-table td {
padding: 0.15em; 
}

.control-layer {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 16px;
  font-weight: bold;
    margin-right: 3px;
}
#project-logo {
    float: left;   
}

.leaflet-control-layers-selector {
	display: inline-block;
	background-color: #aaa;
	float: left;
	margin-right: 5px;
}
  
.leaflet-control-layers-expanded .leaflet-control-layers-list {
    width: 110px;
}

.flatpage-footer {
  font-size: 0.95em;
  display: block;
  margin: 10px 0 0 0;
}
  
  @media screen and (max-width: 767px) {
    .map {
      height:290px;
    }
  }

@media screen and (max-width: 799px) {
	.control-layer {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 12px;
	}
  .name {
    padding: 0em;
    margin: 0em;
  }

  .tt-table {
      font-size: 12px;
      padding: 0em;
      margin: 0em;
  }

}

@media screen and (max-width: 480px) {
	.control-layer {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 11px;
	}

  .tt-table {
      font-size: 11px;
      padding: 0em;
      margin: 0em;
  }
}